<div>
  <h1>GET LIST</h1>
  <button mat-flat-button color="primary" (click)="getEmployees()">Employees</button>
  @for(employee of employees; track employee) {
  <li (click)="navigateToList(employee.employeeID)">{{employee.employeeID}} {{employee.employeeName}}</li>
  }
  <p></p>
</div>

<div>
  <h1>CREATE Employee</h1>
  <textarea [(ngModel)]="this.employeeName"></textarea>
  <button type="button" (click)="createEmployee()">create employee</button>
</div>

<div>
  <h1>delete Employee</h1>
  <textarea [(ngModel)]="this.employeeID"></textarea>
  <button type="button" (click)="deleteEmployee()">delete employee</button>
</div>