<p>list works!</p>
<div>
    <h1>LISTS</h1>
    <ul>
        @for (list of lists; track list) {
        <li>{{ list.listname }}</li>
        }
    </ul>
</div>

        <div class="input">
            <h1>Create List</h1>
            <input class="input" type="text" [(ngModel)]="this.listname" class="input-field" placeholder="Enter List"/>
            <button class="btn" type="button" (click)="createList()">create list</button>
        </div>


<div>
    <h1>Delete List</h1>
    <textarea [(ngModel)]="this.listname"></textarea>
    <button mat-flat-button color="primary" (click)="deleteList()">delete list</button>
</div>